In [ ]:
x=input()
print("the lenght of the string by method 1=",len(x))

y=list(x)
y.sort()
c=max(y)
print("the lenght of the string by method 2=",(y.index(c))+1)

nour
the lenght of the string by method 1= 4
the lenght of the string by method 2= 4

In [ ]:
arr=[[1,2,3],[2,1,2],[3,2,1]]
sort_by_col0=sorted(arr,key=lambda x:x[0])
print(sort_by_col0)
sort_by_col1=sorted(arr,key=lambda x:x[1])
print(sort_by_col1)
sort_by_col2=sorted(arr,key=lambda x:x[2])
print(sort_by_col2)

[[1, 2, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [1, 2, 3], [3, 2, 1]]
[[3, 2, 1], [2, 1, 2], [1, 2, 3]]

In [ ]:
x=input()
if len(x)<2:
  print("Empty String")
elif len(x)==2:
  print(x+x)
else:
  c=list(x)
  c.sort()
  v=max(c)
  i=c.index(v)
  print(x[0:2]+x[i-1:i+1])

mennahany
meny

In [ ]:
x=input()
i=len(x)
if i<3:
  print(x)
else:
  if x.endswith("ing"):
    print(x+"ly")
  else:
    print(x+"ing")

playing
playingly

In [ ]:
def long_word(x):
  max_word=x[0]
  c=0
  for i in range(1,len(x)):
    if len(max_word)<len(x[i]):
      max_word=x[i]
  return max_word

y=input().split()
k=long_word(y)
print("Longest word is:",k,"lenght of the longest word:",len(k))

menna nour adam abdullah
Longest word is: abdullah lenght of the longest word: 8

In [ ]:
x="abca"
print("the first method:",x.replace("a","e"))


print("the second method:","e"+x[1:3]+"e")

the first method: ebce
the second method: ebce

In [ ]:
x=input().split()
y=input("enter the word want to count:")
print(x.count(y))

i love the winter but the winter is very cold
enter the word want to count:winter
2

In [ ]:
x=input()
print(x.upper())
print(x.lower())

Menna
MENNA
menna

In [ ]:
x=input()
if len(x)%4==0:
  print(x[-1:-len(x)-1:-1])
else:
  print(x)

nour
ruon

In [ ]:
x=input()
if x[0].isalnum():
  print("not start with special char")
else:
  print("start with special char")

+postivie
start with special char

In [ ]:
x=input()
print(x.replace(" ",""))

menna hany
mennahany

In [ ]:
x=input().split()
y=len(x)-1
tem=x[0]
x[0]=x[y]
x[y]=tem
print(x)

1 2 3 4 5
['5', '2', '3', '4', '1']

In [ ]:
x=[19,65,23,90]
tem=x[0]
x[0]=x[2]
x[2]=tem
print(x)

[23, 65, 19, 90]

In [ ]:
x=input().split()
print("the maximam of the list",max(x))

7 4 2 3
the maximam of the list 7

In [ ]:
x=input().split()
print("the minumun of the list:",min(x))

1 2 3 4 5
the minumun of the list: 1

In [ ]:
x=[1,2,3,4]
y=3
for i in range (0,4):
    c=0
    if x[i]==y:
      c+=1
      break
if c>0:
  print("the number is exiting")
else:
  print("the number not exiting")

the number is exiting

In [ ]:
x=[1,2,3,4]
print("the first method:",x.clear())

y=[1,2,3,4]
c=1
for i in range(0,4):
  y.remove(c)
  c+=1
print("the second method:",y)

the first method: None
the second method: []

In [ ]:
test_list=["Gfg",3,"is",8]
key_list=["name","id"]
l=[]
d1=dict(zip(key_list[:],test_list[:2]))
d2=dict(zip(key_list[:],test_list[2:]))
l.append(d1)
l.append(d2)
print(l)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

In [ ]:
x=input().split()
l=0
while l<=len(x)-1:
  c=0
  for i in range(0,len(x)):
    if x[l]==x[i]:
      c+=1
  if c==1:
    print("by first method",x[l])
  l+=1

for i in range(0,len(x)):
  if x.count(x[i])==1:
    print("by the second method:",x[i])

1 2 3 4 2 3
by first method 1
by first method 4
by the second method: 1
by the second method: 4

In [ ]:
x=input().split()
y=int(input("enter the number of the frequency"))
l=[]
for i in range(0,len(x)):
  if x.count(x[i])>y:
    l.append(x[i])

s=set(l)

print(s)

1 2 3 4 2 3
enter the number of the frequency1
{'2', '3'}

In [ ]:
x=input().split()
l=[]
for i in range(0,len(x)-1):
  if x[i]>x[i+1]:
    l.append(x[i])
  else:
    l.append(x[i+1])
print(l)

1 2 2 3 4 5
['2', '2', '3', '4', '5']

In [ ]:
x=1
y=2
z=3
print(x,y,z)
print(x,z,y)
print(y,x,z)
print(y,z,x)
print(z,x,y)
print(z,y,x)

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
l1=[0,1,2,1,0,0,0,2,1,1,2,0]
l2=["Gfg","is","best"]
l3=[]
for i in range(0,len(l1)):
  if l1[i]==0:
    l3.append(l2[0])
  elif l1[i]==1:
    l3.append(l2[1])
  else:
    l3.append(l2[2])
print(l3)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

In [ ]:
test_list=[(4,5,5,4),(5,4,3)]
l1=[]
l2=[]
for i in range(0,len(test_list)):
  if test_list[i].count(5)==2:
    l1.append(test_list[i])
for i in range(0,len(test_list)):
  if test_list[i].count(5)==3:
    l2.append(test_list[i])
print(l1)
print(l2)

[(4, 5, 5, 4)]
[]

In [ ]:
t=(1,2,3,4,5)
x=int(input("enter item to print:"))
print(t[x])

enter item to print:2
3

In [ ]:
t=('menna',21,'female')
name,age,gender=t
print(name," ",age," ",gender)

menna   21   female

In [ ]:
t1=("menna",3,2004)
t2=('cs',)
t3=t1+t2
print(t3)

('menna', 3, 2004, 'cs')

In [ ]:
t=("menna","hany")
n1,n2=t
print(n1+n2)

mennahany

In [ ]:
l=[1,2,3,4]
t=tuple(l)
print(t)

(1, 2, 3, 4)

In [ ]:
t=(1,2,3,4,5)
t2=(t[-1::-1])
print(t2)

(5, 4, 3, 2, 1)

In [ ]:
l=[(1,2,3),(4,5,6),(7,8,9)]
l0=list(l[0])
l1=list(l[1])
l2=list(l[2])
l0[2]=100
l1[2]=100
l2[2]=100
t1=tuple(l0)
t2=tuple(l1)
t3=tuple(l2)
newlist=[t1,t2,t3]
print(newlist)

[(1, 2, 100), (4, 5, 100), (7, 8, 100)]

In [ ]:
l=[1,2,3,4,5,6,-1]
l1=[]
for i in range(0,len(l)):
  l2=[]
  for r in range(0,len(l)):
    if l[i]+l[r]==5:
      l2.append(l[i])
      l2.append(l[r])
      l1.append(l2)
print(l1)

[[1, 4], [2, 3], [3, 2], [4, 1], [6, -1], [-1, 6]]

In [ ]:
s={1,2,3,4,5}
print("the maximum value:",max(s))
print("the minimum value:",min(s))

the maximum value: 5
the minimum value: 1

In [ ]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
print("the union=",s1|s2)
print("the intersection=",s1&s2)
print("the difference:",s1-s2)
print("the unique:",s1^s2)

the union= {1, 2, 3, 4, 5, 6, 7, 8, 9}
the intersection= {4, 5, 6}
the difference: {1, 2, 3}
the unique: {1, 2, 3, 7, 8, 9}

In [ ]:
s={1,2,3,4,5}
x=int(input("enter item to remove:"))
s.remove(x)
print(s)

enter item to remove:3
{1, 2, 4, 5}

In [ ]:
s={1,2,3,4}
x=input("enter any memeber to the set:")
s.add(x)
print(s)

enter any memeber to the set:a
{1, 2, 3, 4, 'a'}

In [ ]:
t=(1,2,3,4,5)
sum=0
for i in range(0,len(t)):
  sum+=t[i]
print("the average:",sum/len(t))

the average: 3.0

In [ ]:
s="hello"
t=tuple(s)
print(t)

('h', 'e', 'l', 'l', 'o')

In [ ]:
d={'a':1,'b':2,'c':3,'d':None}
for key,value in list(d.items()):
  if value is None:
    d.pop(key)
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
d={'a':5,'b':2,'c':3,'d':3}
maxvalue=max(d.values())
minvalue=min(d.values())
print("the maximum value:",maxvalue)
print("the minmum value",minvalue)

the maximum value: 5
the minmum value 2

In [ ]:
d1={'a':1,'b':2,'c':3}
d2={'d':4,'e':5,'f':6}
temp=d1
d1=d2
d2=temp
print(d1)
print(d2)

{'d': 4, 'e': 5, 'f': 6}
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
d={'name':'menna','age':21,'doplima':'ai'}
for key,value in d.items():
  print(f"{key}:{value}")

name:menna
age:21
doplima:ai

In [ ]:
d1={'a':1,'b':2,'c':3}
d2={'d':4,'e':5,'f':6}
d3={'g':7,'h':8,'l':9}
all_d={
    "first":d1,
    "second":d2,
    "third":d3
      }
print(all_d)

{'first': {'a': 1, 'b': 2, 'c': 3}, 'second': {'d': 4, 'e': 5, 'f': 6}, 'third': {'g': 7, 'h': 8, 'l': 9}}

In [ ]:
d={'a':1,'b':3,'c':6,'f':11,'e':8}
for key,value in list(d.items()):
  if value>=7:
    d.pop(key)
print(d)

{'a': 1, 'b': 3, 'c': 6}

In [ ]:
d={'a':6,'b':8,'c':3,'d':2,'e':5}
sort_d=dict(sorted(d.items()))
print(sort_d)

{'a': 6, 'b': 8, 'c': 3, 'd': 2, 'e': 5}

In [ ]:
l=[1,2,3,4,1,2,4,5,6]
s=set(l)
l2=list(s)
print("the list after remove the duplicated ",l2)

the list after remove the duplicated  [1, 2, 3, 4, 5, 6]

In [ ]:
l=[1,2,3,4,5,1,2,1]
l2=[]
for i in range(0,len(l)):
  if l[i]!=1:
    l2.append(l[i])
print(l2)

[2, 3, 4, 5, 2]

In [ ]:
x="cat dog"
c=0
for i in range(0,len(x)):
  if x[i]!=" ":
    c+=1
print(c)

6

In [ ]:
x="AASNSOII"
for i in range(0,len(x)):
  if x.count(x[i])==1:
    print(x[i])
    break

N

In [ ]:
x="cat"
print("reverse string by first method:",x[-1::-1])
c=" "
for i in range(len(x)-1,-1,-1):
  c+=x[i]
print("reverse string by second method",c)

reverse string by first method: tac
reverse string by second method  tac

In [ ]:
x=int(input())
print(f"{x:,}")

100000
100,000

In [ ]:
x=float(input())
print(round(x,2))

12.34567876
12.35

In [ ]:
x=float(input())
if x>0:
  print("+",round(x,2))
else:
  print(round(x,2))

223.34442
+ 223.34

In [ ]:
x="Cat _Dog _Leon _Monkey"
print("the"+x.replace("_","the"))

theCat theDog theLeon theMonkey

In [ ]:
x="hello \n in \nmy \ncolab"
print(x)
print(x.replace("\n",""))

hello
 in
my
colab
hello  in my colab

In [ ]:
x="python"
l=""
for i in range(0,len(x)):
  if i%2==0:
    l+=x[i]
print(l)

pto

In [2]:
arr=[1,2,3]
check=set()
for i in range(len(arr)):
  c=(arr[i],)
  if c not in check:
    print(list(c))
    check.add(c)
for i in range(len(arr)):
      for j in range(i+1,len(arr)):
        c=(arr[i],arr[j])
        if c not in check:
          print(list(c))
          check.add(c)
if len(arr)>=3:
  c=tuple(arr)
  if c not in check:
    print(list(c))
    check.add(c)

[1]
[2]
[3]
[1, 2]
[1, 3]
[2, 3]
[1, 2, 3]