<a href="https://colab.research.google.com/github/M-hany709/Ai-Diploma/blob/main/task_section_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def addation(x,y):
  print(x+y)
d=float(input())
s=float(input())
addation(d,s)

2
4.6
6.6

In [ ]:
def check(x):
  if x%2==0:
    print("Even")
  else:
    print("Odd")
i=int(input())
check(i)

7
Odd

In [ ]:
for i in range(1,21):
  if i%2==0:
    print(i,end=" ")

2 4 6 8 10 12 14 16 18 20

In [ ]:
def fun(x):
  f=list(x)
  m=len(f)
  c=0

  for r in range(0,m):
    if f[r]=='a' or f[r]=='e' or f[r]=='i' or f[r]=='o' or f[r]=='u':
      c+=1
  print(c)

d=input()
fun(d)

nouur
3

# New Section

In [ ]:
l=[]
for i in range(1,11):
  l.append(i)
print(l)

for i in range(0,10):
  l[i]**=2

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
Student_name=input("enter your name:")
S_names=[]
for i in range(0,6):
  x=input("enter the subject:")
  S_names.append(x)
S_scoures=[]
for i in range (0,6):
  y=int(input("enter the scoures:") )
  S_scoures.append(y)
av=sum(S_scoures)/6
if av>70:
  print("congratulations")
else:
  print("try again")

enter your name:menna
enter the subject:numerical
enter the subject:oop
enter the subject:c++
enter the subject:data
enter the subject:logic
enter the subject:internet
enter the scoures:90
enter the scoures:60
enter the scoures:80
enter the scoures:99
enter the scoures:78
enter the scoures:80
congratulations

In [ ]:
x=int(input())
y=int(input())
z=int(input())
s=int(input())
c=x*y*z*s
print("the last 2 digits of the multiplication:",c%100)

2
3
4
5
the last 2 digits of the multiplication: 20

In [ ]:
x=int(input("enter the number:"))

c=0
for i in range (1,x+1):
  if x%i==0:
    c+=1

if c>2 or c==1 or c==0:
  print("it is not prime")
else:
  print("it is prime")

enter the number:13
it is prime

In [ ]:
x=int(input("enter the number of the elements int the list:"))
y=[]
for i in range (0,x):
  e=int(input("enter the element of the list:"))
  y.append(e)
n=int(input("the number want to define if exist or not:"))
flag=0
for i in range (0,x):
  if y[i]==n:
    flag=1
    t=i
    break
if flag==1:
  print("the postion of the number:",t)
else:
  print("the number is not exist")

enter the number of the elements int the list:4
enter the element of the list:1
enter the element of the list:23
enter the element of the list:44
enter the element of the list:65
the number want to define if exist or not:23
the postion of the number: 1

In [ ]:
x=int(input("enter the number of the elements int the list:"))
y=[]
for i in range (0,x):
  e=int(input("enter the element of the list:"))
  y.append(e)

c=0
for i in range(0,x):
  if y[i]==min(y):
   c+=1
if c%2!=0:
  print("it is lucky array")
else:
  print("it is not lucky array")

enter the number of the elements int the list:6
enter the element of the list:1
enter the element of the list:2
enter the element of the list:1
enter the element of the list:55
enter the element of the list:55
enter the element of the list:55
it is not lucky array

In [ ]:
x=int(input("enter the number of the elements int the list:"))
y=[]
for i in range (0,x):
  e=int(input("enter the element of the list:"))
  y.append(e)
n=min(y)
x=max(y)
print("the minumum number is:",n)
print("the maxumum number is:",x)
index_n=y.index(n)
index_x=y.index(x)

y[index_n]=x
y[index_x]=n

print(y)

enter the number of the elements int the list:6
enter the element of the list:1
enter the element of the list:2
enter the element of the list:3
enter the element of the list:4
enter the element of the list:5
enter the element of the list:6
the minumum number is: 1
the maxumum number is: 6
[6, 2, 3, 4, 5, 1]

In [ ]:
x=int(input("enter the number of the elements int the list:"))
y=[]
for i in range (0,x):
  e=int(input("enter the element of the list:"))
  y.append(e)
print("the lowest number:",min(y),"  ","this postion:",y.index(min(y)))

enter the number of the elements int the list:5
enter the element of the list:1
enter the element of the list:3
enter the element of the list:4
enter the element of the list:1
enter the element of the list:7
the lowest number: 1    this postion: 0

In [ ]:
x=int(input("enter the number of the elements int the list:"))
y=[]
for i in range (0,x):
  e=int(input("enter the element of the list:"))
  y.append(e)
y.sort()
print("the number after the sort:",y)

enter the number of the elements int the list:5
enter the element of the list:34
enter the element of the list:66
enter the element of the list:2
enter the element of the list:3
enter the element of the list:9
the number after the sort: [2, 3, 9, 34, 66]

In [ ]:
x=int(input("enter the number of the elements int the list:"))
y=[]
for i in range (0,x):
  e=int(input("enter the element of the list:"))
  y.append(e)
s=len(y)-1
f=y[0]
l=y[s]
y[0]=l
y[s]=f
print(y)

enter the number of the elements int the list:6
enter the element of the list:1
enter the element of the list:2
enter the element of the list:3
enter the element of the list:4
enter the element of the list:5
enter the element of the list:6
[6, 2, 3, 4, 5, 1]

In [ ]:
from re import I
x=int(input("enter the great number:"))
y=int(input("enter the low number:"))
hcf=0
for i in range(1,y+1):
  if x%i==0 and y%i==0:
    hcf=i
print("the HCF=",hcf)

enter the great number:48
enter the low number:24
the HCF= 24

In [ ]:
x=int(input("enter the number of the elements in the first list:"))
y=[]
for i in range (0,x):
  e=int(input("enter the element of the first list:"))
  y.append(e)

t=int(input("enter the number of the elements in the second list:"))
s=[]
for g in range (0,t):
 a=int(input("enter the element of the second list:"))
 s.append(a)

f=[]

for i in range(0,x):
  for g in range (0,t):
    if y[i]==s[g]:
      f.append(y[i])

print ("the thrid list of the comman elements:",f)

enter the number of the elements in the first list:5
enter the element of the first list:1
enter the element of the first list:2
enter the element of the first list:3
enter the element of the first list:4
enter the element of the first list:5
enter the number of the elements in the second list:5
enter the element of the second list:3
enter the element of the second list:4
enter the element of the second list:5
enter the element of the second list:6
enter the element of the second list:7
the thrid list of the comman elements: [3, 4, 5]

In [ ]:
x=int(input("enter the number of the elements int the list:"))
y=[]
for i in range (0,x):
  e=int(input("enter the element of the list:"))
  y.append(e)
e=int(input("enter the element to remove:"))
flag=0
for i in range(0,x):
  if y[i]==e:
    y.remove(y[i])
    flag=1
if flag==1:
  print("the list after remove element:",y)
else:
  print("the element is not exist already")

enter the number of the elements int the list:6
enter the element of the list:1
enter the element of the list:2
enter the element of the list:3
enter the element of the list:4
enter the element of the list:5
enter the element of the list:6
enter the element to remove:8
the element is not exist already

In [ ]:
x=input("enter string has space:")
print("the string after:",x.replace(" ",""))

enter string has space:menna hany abdelhady
the string after: mennahanyabdelhady